# Ignore the following files and directories

# Git files
.git

# Docker configuration files
.dockerignore

# IDE configuration files
*.idea
*.vscode

# System files
.DS_Store
Thumbs.db

# Test scripts
src/scripts/*
